.bg-body {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  display: grid;
  justify-content: center;
}

.bg-body > h1{
  font-size: 40px;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
}

.bg-body > p{
  margin-top: 0;
  margin-bottom: 0;
}

hr{
  width:50%
}
.div-cards-info{
  display: flex;
      justify-content: center;
}

.div-info{
  width:70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  height: 300px; /* Altura opcional para o contêiner */
  padding: 10px; /* Espaçamento interno do contêiner */
}
