<div class="bg-body">
  <h1>About Stellar</h1>
  <p>More about what this can do for your business</p>
</div>
<hr>
<div class="div-cards-info">
<div class="div-info">
<app-cards
id="1"
cardTitle="Clean and Simple"
cardSubtitle="A clean interfaces is the key to a good looking product. We always like to keep things clean and simple."
photoCover="../../../assets/checked.png"
></app-cards>

<app-cards
id="2"
cardTitle="Pixel Perfect"
cardSubtitle="Every pixel, icon or piece of interface on this awesome theme is manually and carefully crafted to perfection."
photoCover="../../../assets/square.png"
></app-cards>

<app-cards
id="3"
cardTitle="Multiple Options"
cardSubtitle="The theme comes eith a variety of colors, styles and layouts, so it can be match for any business."
photoCover="../../../assets/archive.png"
></app-cards>

<app-cards
id="4"
cardTitle="Retina Ready"
cardSubtitle="The theme was designed and developed to look absoutely amazinf on any retina resolution."
photoCover="../../../assets/desktop.png"
></app-cards>

<app-cards
id="5"
cardTitle="Responsive"
cardSubtitle="Your clients will be able to have a unique, awesome and smart experience on every mobile device out there."
photoCover="../../../assets/responsive.png"
></app-cards>

<app-cards
id="6"
cardTitle="Sketch Support"
cardSubtitle="The design was created in Photoshop and Sketch, so you'll be able to use your favorite software."
photoCover="../../../assets/diamond.png"
></app-cards>
</div>
</div>
