.navbar {
  background-color: transparent; /* Cor de fundo da navbar */
 position: absolute;
 justify-content: center;
 align-items: center;
 display: flex;
 width: 100%
}

.navbar a{
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  font-size:13px;
}

.navbar h1{
  float: left; 
  display: block;
  color: white; 
  text-align: center; 
  padding: 0px 150px 16px 16px; 
  text-decoration: none; 

}

.navbar a:hover {
  color: #9794AF;
}

.button{
//margin-top: 0.7rem;
}