.bg-body {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("https://th.bing.com/th/id/OIP.nRicwaRg8R_o_OZVX2zQXgHaEo?w=358&h=185&c=7&r=0&o=5&pid=1.7");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  justify-content: center;
}

.bg-body > h1{
  font-size: 55px;
  padding-top: 13rem;
  margin-bottom: 0
}

.bg-body > p{
  margin-top: 0;
  padding-left: 10%
}

.div-buttons{
  margin-top:2rem;
  display: flex;
  justify-content: center;
  grid-gap: 1rem;
}

.div-bottom{
  margin-top: 10rem;
  display: grid;
  justify-content: center;
  font-size: 12px
}