
html, body {
	width: 100%;
	}

.bg-body {
  color: white;
  background-image: url("https://th.bing.com/th/id/OIP.nRicwaRg8R_o_OZVX2zQXgHaEo?w=358&h=185&c=7&r=0&o=5&pid=1.7");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  justify-content: center;
  min-width: 100%;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  margin: 0;
  padding: 0;

}

.bg-body > h1{
  display:flex;
  font-size: 55px;
  padding-top: 11rem;
  margin-bottom: 0;
  justify-content: center;
}

.bg-body > p{
  display:flex;
  margin-top: 0;
  justify-content: center;
}

.div-buttons{
  margin-top:2rem;
  display: flex;
  justify-content: center;
  grid-gap: 1rem;
}

.div-bottom{
  margin-top: 10rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  font-size: 12px;

}

.button-dark{
  border-radius: 30px;
  background-color:rgba(0, 0, 0, 0.9);
  height: 45px;
}

.mouse-icon{
  width: 35%
}

.seta-icon{
  display:flex;
  width: 8%
}