.div-card{
  width: 250px;
  height: 150px;
  display:grid;
  justify-content: center;
  text-align: center;
  justify-items: center;
  padding: 10px;
  padding-top: 50px;
}

img{
  width:13%;
  margin: 0 auto;
}

h3{
  display:flex;
  margin-bottom:0
}

.paragraph{
  width:60%
}

p{
  font-size: 12px
}