body{
  width:10%;
}

.div-card{

  display:grid;
  justify-content: center;
  text-align: center;
  justify-items: center;
  padding: 0px; /* Espaçamento interno dos itens */
  width:100%;
}

img{
  width:70px;
  margin: 0 auto;
}

h3{
  display:flex;
  margin-bottom:0
}

.paragraph{
  width:60%
}

p{
  font-size: 10px
}